<!DOCTYPE html>
<html id = "html" attr = "theme = ${theme}">
    <head>
        <meta charset = "UTF-8">
        <title>th:text = "500"</title>
        <link rel = "shortcut icon" type = "image/x-icon" href = "/static/img/ico/favicon.ico" />
        <link rel = "stylesheet" type = "text/css" href = "/static/css/assets/bootstrap.min.css" />
        <link rel = "stylesheet" type = "text/css" href = "/static/css/animations.css" />
        <link rel = "stylesheet" type = "text/css" href = "/static/css/colors.css" />
        <link rel = "stylesheet" type = "text/css" href = "/static/css/dimensions.css" />
        <link rel = "stylesheet" type = "text/css" href = "/static/css/fonts.css" />
        <link rel = "stylesheet" type = "text/css" href = "/static/css/layout.css" />
        <link rel = "stylesheet" type = "text/css" href = "/static/css/shadows.css" />
        <link rel = "stylesheet" type = "text/css" href = "/static/css/themes.css" />
        <script type = "text/javascript" src = "/static/js/assets/three.min.js"></script>
        <script type = "text/javascript" src = "/static/js/assets/vanta.min.js"></script>
        <script type = "text/javascript" src = "/static/js/background.js"></script>
        <script type = "text/javascript" src = "/static/js/globals.js"></script>
        <script type = "text/javascript"> globalsInitialization(); </script>
    </head>
    <body id = "background">
        <script type = "text/javascript"> backgroundInitialization(); </script>
        <div class = "container error">
            <img class = "error-img" src = "/static/img/error/500.gif" />
            <div class = "error-div">
                <div class = "code">500</div>
                <div class = "title">We have a problem...</div>
                <div class = "explanation">
                    <div>While we go down this rabbit hole.</div>
                    <div>Please go outside and enjoy the sunshine.</div>
                </div>
                <div class = "advice">Open an issue on <a href = "https://github.com/fireinrain/ward-go">Github</a></div>
            </div>
        </div>
    </body>
</html>